    <div class="blurbox">
        <%= simple_form_for @post do |f| %>
        <%= f.input :title %>
        <%= f.input :content %>
        <%= f.input :link %>
        <%= f.label :image %>
        <%= f.file_field :image%>
        <%= f.button :submit %>
        <% end %>
    </div>
