<!DOCTYPE html>
<html>

<head>
  <title>Seanbase</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'false' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'false' %>
</head>

<body>

  <% if I18n.locale == :en %>
  <a href="?locale=ja" class="button">日本語</a>
  <% else I18n.locale == :jp %>
  <a href="?locale=en" class="button">ENG</a>
  <% end %>


  <div class="main-container">
    <div class="infobox">
      <div class="blurbox">
        <h1 id="name"><%= t :name %></h1>
        <p id="profile"><%= t :profile %></p>
      </div>
      <div class="link-container">
        <div class="blurbox">
          <div class="linkbox">
              <a href="https://www.linkedin.com/in/sean-luse/"><%= image_tag("linkedin.png") %></a>
            <p><a href="https://www.linkedin.com/in/sean-luse/">LinkedIn</a></p>
          </div>
          <div class="linkbox">
              <a href="https://github.com/seanluse41"><%= image_tag("github-icon.png") %></a>
            <p><a href="https://github.com/seanluse41">Github</a></p>
          </div>
          <div class="linkbox">
            <a href="mailto:seanluse41@gmail.com"><%= image_tag("mail-white.png") %></a>
            <p><a href="mailto:seanluse41@gmail.com">Email</a></p>
          </div>
        </div>
      </div>
    </div>
    <%= yield %>

<!--
    <%= render 'layouts/alerts' %>

    <% if current_user %>
    <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
    <% else %>
    <%= link_to 'Sign up', new_user_registration_path %>
    <%= link_to 'Sign in', new_user_session_path %>
    <% end %>
-->

  </div>
</body>
</html>